
body{
    font-family: Spiegel /* conseguir este font */"Arial Narrow", Arial, sans-serif
}

.logoynombre{
    position: relative;
    text-align: center;
}

.logoprincipal{
    width: 10vw;
    position: absolute;
    top: 1%;
    left: 1%;
}

.header{
    margin-left: 20px;
}